mybatis:
  type-aliases-package: com.spring.mvc.board.dto
  mapper-locations: mapper/**/*.xml
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
    url: jdbc:mysql://localhost:3307/board
  devtools:
    livereload:
      enabled: true

  thymeleaf:
    cache: false
